body{
    font-family: Tahoma, sans-serif;
}
table, th, td{
    border: solid 1px;
}
td{
    padding: 5px 25px 5px 5px;
}
th{
    padding: 5px 15px 5px 15px;
}
.header{
    font-size: 22px;
    padding: 5px;
}
.footer{
    text-align: right;
    padding: 5px;
}