body{
    font-family: Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
nav {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}
a {
    text-decoration: none;
    margin-right: 55px;
    color: gray;
}
h1 {
    margin-left: 20px;
}
#search {
    display: inline-block;
    vertical-align: bottom;
    width: 242px;
    height: 28px;
    border: 1px solid gray;
    margin-left: 600px;
}
#searchForm{
    border-collapse: collapse;
}
#search input[type="text"] {
    border: 0px;
    border-collapse: collapse;
    vertical-align: middle;
    width: 200px;
    height: 25px;
    font-size: 15px;
    padding-left: 5px;
}
button.searchButton[type="submit"] {
    border: 0px;
    margin: 0px;
    padding: 0;
    vertical-align: middle;
    border-collapse: collapse;
    width: 30px;
    height: 26px;
    background: url(../images/SearchIcon.png) no-repeat center;
}
