body {
    background-image: url('../images/background.jpg');
    font-family: Calibri, sans-serif;
    margin: 20px;
}
h1 {
    color: #f3be60;
}
img{
    margin-left: 70%;
    position: absolute;
    width: 210px;
    top: 0px;
    right: 1px;
}

.unordered-list{
    color: #f3be60;
    font-size: 26px;
    list-style-type: square;
}
.color-white{
    color: white;
}
.list-text{
    background-color: #242422;
    font-size: 18px;
    opacity: 0.9;
    color: #fff5e6;
    border: 1px solid;
    list-style-type: none;
    padding: 6px;
    margin: 10px 70px 10px 20px;
}
#inner-list{
    list-style-type: none;
}